﻿@model Domain.Entities.Person

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        @Html.DisplayFor(model => model.Pets)
    </dl>
</div>
<p>
    @Html.ActionLink("View", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
